{% block recruitmentsNumberStylesheet %}
    {{ encore_entry_link_tags('recrutementsNumberStyle', null, 'transvis')}}
{% endblock %}

{% block recruitmentsNumberContent %}
    <div class="col-12 col-xl-3 stepContainer d-flex flex-column align-items-center">
        <div class="numberOuter mb-3">
            {{ index }}
        </div>
        <div class="stepText text-center px-4 mx-4">
            <h3>
                {{ title | upper }}
            </h3>
            <p>
                {{content}}</p>
        </div>
    </div>
{% endblock %}
