{#
    card (contentype recrutement):
        title: text
        teaser: text
        profile: text
        description:
            contrat: select (text)
            salary: number
            temps: select (text)
#}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/cardRecrutement.css') }}">
{% endblock %}

{% set tags = [card.description.contrat, 'temps ' ~ card.description.temps, card.description.salary ~ '€'] %}


<div class="card-recrutement col-12 col-xl-3 mb-5">
    <div class="block-image">
        <img class="w-100 h-100" src="{{ asset('images/banner-recrutement-card.png') }}" alt="bannière recrutement">
    </div>
    <div class="block-content">
        <h3 class="title">{{ card.title }}</h3>
        <p class="teaser mb-2">{{ card.teaser }}</p>
        <div class="tags d-flex pb-1">
            {% for tag in tags %}
                {% include '@theme/partials/buttons/_tags.twig' with {tag: tag} %}
            {% endfor %}
        </div>
        {% include "@theme/partials/buttons/_button-red.twig" with { text: "Candidater rapidement", link: card|link, width: "285px", height: "37px", nextWidth: "5%" } %}
    </div>
</div>
