{% block buttonFilterStylesheet %}
<link rel="stylesheet" href="{{ asset('css/components/buttonFilter.css') }}" />
{% endblock %}

{% block buttonFilterJavascript %}
    <script src="{{ asset('js/tagSearch.js') }}"></script>
{% endblock %}

{% block buttonFilterContent %}

    <div class="row d-flex align-items-center justify-content-center">
        <div class="buttonFilterContainer mx-2" data-records-tag="{{ recordsTagList|json_encode }}" data-records-taxonomies="{{ taxonomies }}" id="buttonFilterContainer">
            <input id="search" class="search-input w-100 mb-4" type="text" placeholder="FILTRER" autocomplete="off">
            <ul class="drop"></ul>
        </div>
            <button class="search-input mx-2 " type="submit" data-records-all="/nos-realisations" id="buttonSeeAll">Tout voir</button>
    </div>

{% endblock %}
