{#
    tag: text
#}
{% block tagStylesheet %}
    <link rel="stylesheet" href="{{ asset('css/tag.css') }}">
{% endblock %}
{% block tagContent %}
    <p class="tag me-2 mb-2">
        {{ tag | upper }}
    </p>
{% endblock %}