{#
    tag: text
#}

{% block tagStylesheet %}
    <link rel="stylesheet" href="{{ asset('css/tag.css') }}">
{% endblock %}
{% block tagJavascript %}
  <script src="{{ asset('js/tagSeeMore.js') }}"></script>
{% endblock %}
{% block tagContent %}
    {% set name = name ?? tag %}
    <div class="single-tag-container">
        <p class="me-2 mb-2">
            <a href="{{ taxonomies is defined ? "/" ~ taxonomies ~ "/" ~ slug : ''  }}" class="tag-link tag">{{ name | upper }}</a>
        </p>
    </div>
{% endblock %}
