<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{ exception.statusCode }}
            | Transvis</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
        <style>
            @import url("https://fonts.googleapis.com/css?family=Lato");
            * {
                position: relative;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: "Lato", sans-serif;
            }

            body {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: linear-gradient(to bottom right, #EEE, #AAA);
            }

            h1 {
                margin: 40px 0 20px;
            }

            .lock {
                border-radius: 5px;
                width: 55px;
                height: 45px;
                background-color: #333;
                animation: dip 1s;
                animation-delay: 1.5s;
            }
            .lock::before,
            .lock::after {
                content: "";
                position: absolute;
                border-left: 5px solid #333;
                height: 20px;
                width: 15px;
                left: calc(50% - 12.5px);
            }
            .lock::before {
                top: -30px;
                border: 5px solid #333;
                border-bottom-color: transparent;
                border-radius: 15px 15px 0 0;
                height: 30px;
                animation: lock 2s, spin 2s;
            }
            .lock::after {
                top: -10px;
                border-right: 5px solid transparent;
                animation: spin 2s;
            }

            @keyframes lock {
                0% {
                    top: -45px;
                }
                65% {
                    top: -45px;
                }
                100% {
                    top: -30px;
                }
            }
            @keyframes spin {
                0% {
                    transform: scaleX(-1);
                    left: calc(50% - 30px);
                }
                65% {
                    transform: scaleX(1);
                    left: calc(50% - 12.5px);
                }
            }
            @keyframes dip {
                0% {
                    transform: translateY(0px);
                }
                50% {
                    transform: translateY(10px);
                }
                100% {
                    transform: translateY(0px);
                }
            }
            .button-link {
                background-color: #D30F4E;
                width: 155px;
                height: 37px;
                border-radius: 5px;
                text-decoration: none;
                color: white;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 25px;
            }

            .btn-link-dark {
                background-color: #121212 !important;
                border-radius: 5px;
            }

            .button-link:hover {
                text-decoration: none;
                color: white;
            }

            .button-link:active {
                text-decoration: none;
                color: white;
            }

            .button-link span {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
            }

            .button-link .next {
                width: 10%;
            }
        </style>
    </head>

    <body id="home">

        <div style="padding: 2rem 4rem; display: flex; justify-content: center; align-items:center; flex-direction: column;">

            <div class="lock"></div>
            <div class="message" style="text-align: center;">
                <h1>403 | L'accès à cette ressource sur le serveur est refusé</h1>
                <p>Veuillez vérifier auprès de l'administrateur du site si vous pensez qu'il s'agit d'une erreur.</p>
            </div>
            <a class="button-link btn-link-more btn-link-dark' " href="/" style="width:200px; height: 25px">
                <span class="me-2 align-baseline">{{ "Retour à l'accueil" | upper }}</span>
            </a>
        </div>
    </body>
</html>
