.hidden {
    visibility: hidden;
}

.replyModal {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.replyModalCard{
    height: 50vh;
    width: 50vw;
    border-radius: 0.5em;
}
.replyModal-close svg{
    height: 25px;
    width: 25px;
}
.replyModal-close:hover svg{
    cursor: pointer;
    scale: 1.1;
}