.article-h2{
    font-size: var(--font-size-title);
}
.article-h3{
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight--bold);
}
b {
    color: var(--red-color) !important;
}
.article-paragraph b{
    font-weight: var(--font-weight-light) !important;
    color: var(--red-color) !important;

}

.float-right{
    float: right !important;
    margin-left: 1rem;
}
.float-left{
    float: left !important;
    margin-right: 1rem;
}
.align-right{
    text-align: right !important;
}
.align-left{
    text-align: left !important;
}
.align-center{
    text-align: center !important;
}
.article-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    padding: 0 1rem;
}

} 

.superposition {display: inline-block;
    position: relative;
  }
  .superposition img:first-of-type {
    height: auto;
    width: 75%;
  }
  .superposition img:last-of-type {
    height: 100%;
    width: 100%;
  }
  .superposition img:nth-of-type(2) {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

