.container-sf {
    padding: 0 6%;
}

.block-top .block-left h1:before {
    margin: 0;
}

.block-top .block-left h1 {
    padding-top: 15px;
}

.block-top .block-left p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-justify: inter-word;
}

.block-top .block-right {
    background: url(../images/savoirs-faire/cobot-emboxeuse.webp) no-repeat center;
    background-size: cover;
    margin-top: -8%;
}

.block-top .block-right img {
    width: 100%;
}

@media (max-width: 1200px) {
    .block-top .block-right {
        margin-top: 0;
    }
}
