.container-sf {
    padding: 0 6%;
}

.block-top .block-left h1:before {
    margin: 0;
}

.block-top .block-left h1 {
    font-style: normal;
    font-weight: 800;
    line-height: 44px;
    padding-top: 15px;
}

.block-top .block-left p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-justify: inter-word;
}

.block-top .block-right {
    background: url(../images/savoirs-faire/cobot-emboxeuse.webp) no-repeat center;
    background-size: cover;
}

.block-top .block-right img {
    width: 100%;
}
