.btn-link {
    background-color: var(--red-color);
    width: 155px;
    height: 37px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--light-color);
}
.btn-link-dark {
    background-color: var(--dark-color) !important;
}
.btn-link:hover {
    text-decoration: none;
    color: var(--light-color);
}

.btn-link span {
    font-weight: 500;
    font-size: var(--font-size);
    line-height: 20px;
    text-align: center;
}

.btn-link .next {
    width: 10%;
}

.btn-link-dark{
    background-color: var(--red-color);
} 