.button-link {
    background-color: var(--red-color);
    width: 155px;
    height: 37px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--light-color);
    z-index: 1;
}

.button-link:hover {
    text-decoration: none;
    color: var(--light-color);
}

.button-link:active {
    text-decoration: none;
    color: var(--light-color);
}

.button-link span {
    font-weight: 500;
    font-size: var(--font-size);
    line-height: 20px;
    text-align: center;
}

.button-link .next {
    width: 10%;
}
