@import "variables.css";

:root {
    --spacing-card: 16px
}

.card-sf {
    background-color: var(--dark-color);
    height: 250px;
    width: 400px;
    padding: calc(var(--spacing-card)) 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
    position: relative;
    max-width: 90vw;
}

@media screen and (max-width: 375px) {
    .card-sf {
        width: 370px;
    }
}

.card-sf:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/savoirs-faire/bg-card-sf.png.webp);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .15;
}

.card-sf h3 {
    color: var(--light-color);
    font-size: var(--font-size);
    font-weight: 700;
    line-height: 1.5rem;
}

@media screen and (max-width: 375px) {
    .card-sf h3 {
        font-size: 14px;
    }
}

.logo {
    --logo-size: 100px;
    background-color: var(--red-color);
    border-radius: 50%;
    width: var(--logo-size);
    height: var(--logo-size);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}


