.nosRealisationTitle:before {
    margin: 0;
    right: 15px;
}
.nosRealisationIntro {
    padding: 0 6%;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    line-height: 20px;
    color: var(--red-color);
}
.tagCloud-item {
    white-space: nowrap;
}
.tagCloud-item.active {
    color: var(--red-color);
}
.tag:hover,
.tag:focus,
.tag:active {
    color: var(--red-color);
}
.CurrentTagTitle {
    color: var(--red-color);
    font-size: var(--font-size-title);
}
@media screen and (max-width: 768px) {
    h1 {
        text-align: center;
    }
    h1:before {
        margin: auto;
    }
    .modalFooter {
        height: 20vh;
    }
    .modalFooter p {
        font-size: var(--font-size-larger);
    }
}

.modalFooter {
    height: 35vh;
    position: relative;
    overflow: hidden !important;
}

.modalFooter p {
    font-size: var(--font-size-larger);
    color: var(--light-color);
    font-weight: var(--font-weight--bold);
}

.styledBorder{
    position: absolute;
    top: 50;
    left: 50;
    bottom: 50;
    right: 50;
    margin: auto;
    border: 1px dashed var(--light-color);
    border-radius: 50%;
    width: 700px;
    height: 700px;
    padding: 10px;
    margin: 10px;
}
.styledBorder:before {
    content: "";
    position: absolute;
    border: 2px dashed var(--light-color);
    border-radius: 50%;
    top: 35px;
    bottom: 35px;
    left: 35px;
    right: 35px;
  }
  .card-body .card-text{
    overflow: hidden;
    text-overflow: ellipsis;
  }