.nosRealisationTitle:before {
    margin: 0;
    right: 15px;
}
.nosRealisationIntro{
    padding: 0 6%;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    line-height: 20px;
    color: var(--red-color);
}


@media screen and (max-width: 768px) {
h1{
text-align: center;
}
h1:before {
margin: auto;
}
} 