{#
    record.
        title: 'text'
        teaser: 'redactor'
        blockOne: 'fields'
            image: 'image'
            text: 'text'
        blockTwo: 'text"
#}

{% extends '@theme/partials/_master.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}

{% block javascript %}
    {{ parent() }}
{%  endblock javascript %}

{% block main %}
    <h1>{{ record.title }}</h1>
PAGE CONTACT
        {{ boltform('contact') }}
{% endblock main %}
