{% extends 'partials/_master.twig' %}

{% block main %}

    {% if record|default %}

        <h1>{{ record|title }}</h1>

        {# Keep this block until the final deploy #}
        {{ include('partials/_fresh_install.twig') }}

        {# Output the `introduction` field. If it doesn't exist, 'default' to
           the full excerpt of the current Record #}
        {{ record.introduction|default(record|excerpt) }}

        {% include 'partials/_image.twig' with ({'image': record|image}) %}

        {{ record.content }}

    

    {% endif %}

{% endblock main %}

