{% set firstrecord = records|first %}

{% if firstrecord.contentType === "nos-realisations" %}

{{ include('Realisations.twig') }}
{% else %}

 <article>

                    <h2>{{ __('general.phrase.no-content-found') }}</h2>

                    <p>
                        {{ __("Unfortunately, no content could be found. Try another page, or go to the <a href=\"%paths_root%\">homepage</a>.", {'%paths_root%': path('homepage')} ) }}
                    </p>

                </article>


{% endif %}