{#
    record.
        title: 'text'
        teaser: 'redactor"
        image: 'Image'
        bottomImage: 'Image'
        cardTitle: 'text"
        cardText: 'text'
        seo
        slug
#}
{% extends '@theme/partials/_master.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}

{% block javascript %}
    {{ parent() }}
{%  endblock javascript %}

{% block main %}
    <div class="nosEquipes">
        {% include '@theme/partials/_block_top_singleton_with_image.twig' %}
    </div>
{% endblock main %}
