{#
    record.
        title
        teaser
        image 'Image illustrant le texte d'introduction'
        bottomImage 'Image en arrière plan de la page'
        cardTitle
        cardText
        seo
        slug
#}
{% extends '@theme/partials/_master.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}

{% block javascript %}
    {{ parent() }}
{%  endblock javascript %}

{% block main %}
    <h1>{{ record.title }}</h1>
{% endblock main %}
