{#
    record.
        title: 'text'
        teaser: 'redactor"
        image: 'Image'
        bottomImage: 'Image'
        cardTitle: 'text"
        cardText: 'text'
        seo
        slug
#}
{% extends '@theme/partials/_master.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/equipes.css') }}">
{% endblock stylesheet %}

{% block javascript %}
    {{ parent() }}
{%  endblock javascript %}

{% block main %}
    <div class="nosEquipes">
        <div class="container-sf">
            {% include '@theme/partials/_block_top_singleton_with_image.twig' with {defaultImage: asset('images/equipe.webp')} %}
            {% include '@theme/partials/_line.twig' %}
            <h2>{{ 'Rejoignez-nous' | upper }}</h2>
        </div>
    </div>
{% endblock main %}
