{% extends '@theme/partials/_master.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}

{% block javascript %}
{{ parent() }}
{%  endblock javascript %}

{% block main %}
    {% for record in records %}
        <a href="{{ record.link }}">{{ record.title }}</a>
    {% endfor %}
{% endblock main %}
