<div class="confirmModal hidden" id="confirmDeleteModal">
<div class="card mb-3 confirmModalCard">
  <div class="card-header">Êtes-vous sûr de vouloir Supprimer ?</div>
  <div class="card-body d-flex justify-content-around align-items-center">
    <button class="btn btn-hidden-danger col-5" id="confirmDelete"><i class="fas fa-trash-alt"></i> Oui </button> <button class="btn btn-primary col-5" id="cancelDelete"> Non </button>
  </div>
</div>
</div>