{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/card-sf.css') }}">
{% endblock stylesheet %}

<div class="card-sf col-3 d-flex flex-column justify-content-center align-items-center">
    <div class="logo">
        <img src="{{ asset('images/savoirs-faire/main.svg') }}" alt="logo main">
    </div>
    <div class="card-sf__content d-flex flex-column justify-content-center align-items-center">
        <h3 class="card-sf__title">Title</h3>
        <p class="card-sf__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc ut aliquam
            aliquet, nunc nisl aliquam nisl, eget aliquam nisl nisl sit amet lorem. Sed euismod, nunc ut aliquam
            aliquet, nunc nisl aliquam nisl, eget aliquam nisl nisl sit amet lorem.</p>
    </div>
</div>
