<!-- Header bar -->
<header>
    <nav>
        <div id="burger-toggler">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="nav-content align-items-center d-none d-lg-flex justify-content-between" id="burgerMenu">
            {% if options is defined and options.logo is defined and options.logo is not null %}
                <img src="{{ asset(options.logo) }}" alt="Logo" class="headerNavLogo" width="auto" height="190">
            {% else %}
                <div class="alert alert-danger" role="alert">
                    Veuillez configurer le logo dans le back-office
                </div>
            {% endif %}
            {{ menu(
                name = 'main',
                template = 'partials/_sub_menu_header.twig',
                withsubmenus = false
            ) }}
        </div>
    </nav>
</header>
