{% use '@theme/partials/_block_top_singleton_with_image.twig' %}

{% block homeNosEquipesStylesheet %}
    {{ block('blockTopSingletonWithImageStylesheet') }}
{% endblock %}

{% block homeNosEquipesContent %}
    {% set arr = [] %}
    {% set arr = arr|merge({'title': record.nosEquipesTitle, 'teaser': record.nosEquipesTeaser, 'image': record.NosEquipesImages, 'intro': record.nosEquipesIntro}) %}
    <div class="container">
        {% with {defaultImage: asset('images/equipe.webp'), record: arr, imgMargin : ' '} %}
        {{ block('blockTopSingletonWithImageContent') }}
        {% endwith %}
 <div class="d-flex justify-content-center">
            {%  with { text: "En savoir plus", link: '/nos-equipes', width: "200px", height: "37px", nextWidth: "8%", isBlack: false} %}
            {{ block('buttonRedContent') }}
            {% endwith %}
        </div>
    </div>
{% endblock %}