{% block bannerKeysFiguresStylesheet %}
    {{ encore_entry_link_tags('bannerKeyStyle', null, 'transvis') }}
{% endblock %}

{% block bannerKeysFiguresJavascript %}
    {{ encore_entry_script_tags('keyFiguresJs', null, 'transvis') }}
{% endblock %}

{% block bannerKeysFiguresContent %}
    <div class="block-banner {{ pt is defined ? 'pt-' ~ pt : 'pt-5' }} overflow-hidden">
        {% include "@theme/partials/_line.twig" %}
        <div class="banner-key-figure d-flex flex-column align-items-center py-5">
            <h2 class="keyFigureTitle text-center" data-aos="fade-up">{{ keyFigureTitle | upper }}</h2>
            <div class="d-flex flex-column flex-xl-row justify-content-around align-items-center pt-5 px-5 col-12">
                {% for key in keyFigures %}
                    {% include "@theme/partials/banner_keys/_keys.twig" with {key: key, loop: loop.index} %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

